@{
    ViewData["Title"] = "Cali Library System";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3>Welcome to Cali Library Systems</h3>
</div>
    <div class="card-group">
        <div class="card">
            <div>
                <div class="card-body">                    
                    <h2 class="text-center card-title bg-light text-dark" id="catalog">Library Catalog</h2>
                    <div class="card-subtitle">
                        View and manage library assets.
                    </div>
                    <div class="card-text card-link">
                        <a class="btn btn-info btn-lg btn-block" asp-controller="Catalog" asp-action="Index">
                            View Catalog
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="card-body">
                    <h2 class="text-center card-title bg-light text-white text-xl-center" id="patrons">Patrons</h2>
                    <div class="card-subtitle">
                        View and manage library patron data.
                    </div>
                    <div class="card-text card-link">
                        <a class="btn btn-info btn-lg btn-block" asp-controller="Patron" asp-action="Index">
                            View Patron Index
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="card-body">
                    <h2 class="card-title bg-light text-center card-img-top text-white" id="branches">
                        Branches
                    </h2>
                    <div class="card-subtitle">
                        View and manage Lakeview branches.
                    </div>
                    <div class="card-text card-link">
                        <a class="btn btn-info btn-lg btn-block" asp-controller="Branch" asp-action="Index">
                            View Branch Index
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

